
<div class='card mx-xl-5'>

    <div class='card-body'>
        <h1 class='h4 text-center py-4'>New Coin</h1>

        <%= render 'form', coin: @coin %>

        <%= link_to 'Back', coins_path %>
    </div>
</div>